// reset css
@import 'normalize.css';

$grid-breakpoints: (
    xs: 0,
    sm: 576px,
    md: 768px,
    // md: 800px,
    lg: 992px,
    xl: 1200px,
    xxl: 1400px,
);

$primary: #413ada;
$secondary: #f47a62;
$headings-font-family: Roboto;

// $navbar-dark-toggler-border-color: black;
// $navbar-dark-color: rgba(white, 1);

// $navbar-light-toggler-border-color: white;

// change height of brand -> change height of navbar
// $navbar-brand-padding-y: 1rem;
// $navbar-brand-font-size: 1.5rem;

// change size of offcanvas
// $offcanvas-horizontal-width: 25vw;
// $offcanvas-vertical-height: 30vh;

// import Bootstrap CSS to set changes
@import '~bootstrap/scss/bootstrap';
// @import '../../../node_modules/bootstrap/scss/bootstrap';

html {
    text-rendering: optimizeSpeed;
}

body {
    overflow-y: hidden;
}

/* avoid fixed top nav-bar from hiding content */
.default-top-margin {
    margin-top: 6.5rem;
    // margin-top: 5.5rem;
    // margin-top: 5rem;
    // margin-top: 4rem;
}

.heading-h1 {
    // 64px
    // font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-size: 4rem;
}

.heading-h2 {
    // 54px
    // font-family: 'Poppins', sans-serif;
    font-family: 'Roboto', sans-serif;
    font-size: 3.375rem;
}

/* CUSTOM WIDTHS */
.w-10,
.w-xs-10 {
    width: 10% !important;
}
.w-15,
.w-xs-15 {
    width: 15% !important;
}
.w-20,
.w-xs-20 {
    width: 20% !important;
}
.w-25,
.w-xs-25 {
    width: 25% !important;
}
.w-50,
.w-xs-50 {
    width: 50% !important;
}
.w-75,
.w-xs-75 {
    width: 75% !important;
}

/* BREAKPOINTS */

/* SM breakpoint */
@media (min-width: 576px) {
    /* CUSTOM WIDTHS */
    .w-sm-10 {
        width: 10% !important;
    }
    .w-sm-15 {
        width: 15% !important;
    }
    .w-sm-20 {
        width: 20% !important;
    }
    .w-sm-25 {
        width: 25% !important;
    }
    .w-sm-50 {
        width: 50% !important;
    }
    .w-sm-75 {
        width: 75% !important;
    }
}

/* MD breakpoint*/
@media (min-width: 768px) {
    /* CUSTOM WIDTHS */
    .w-md-10 {
        width: 10% !important;
    }
    .w-md-15 {
        width: 15% !important;
    }
    .w-md-20 {
        width: 20% !important;
    }
    .w-md-25 {
        width: 25% !important;
    }
    .w-md-50 {
        width: 50% !important;
    }
    .w-md-75 {
        width: 75% !important;
    }
}

/* LG breakpoint */
@media (min-width: 992px) {
    /* CUSTOM WIDTHS */
    .w-lg-10 {
        width: 10% !important;
    }
    .w-lg-15 {
        width: 15% !important;
    }
    .w-lg-20 {
        width: 20% !important;
    }
    .w-lg-25 {
        width: 25% !important;
    }
    .w-lg-50 {
        width: 50% !important;
    }
    .w-lg-75 {
        width: 75% !important;
    }
}

/* Extra LG breakpoint */
@media (min-width: 1200px) {
    /* CUSTOM WIDTHS */
    .w-xl-10 {
        width: 10% !important;
    }
    .w-xl-15 {
        width: 15% !important;
    }
    .w-xl-20 {
        width: 20% !important;
    }
    .w-xl-25 {
        width: 25% !important;
    }
    .w-xl-50 {
        width: 50% !important;
    }
    .w-xl-75 {
        width: 75% !important;
    }
}

/* Extra extra LG breakpoint */
@media (min-width: 1200px) {
    /* CUSTOM WIDTHS */
    .w-xxl-10 {
        width: 10% !important;
    }
    .w-xxl-15 {
        width: 15% !important;
    }
    .w-xxl-20 {
        width: 20% !important;
    }
    .w-xxl-25 {
        width: 25% !important;
    }
    .w-xxl-50 {
        width: 50% !important;
    }
    .w-xxl-75 {
        width: 75% !important;
    }
}
